html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }
body { overflow-x: hidden; }
h2 { padding: 8px 0; font-size: 16px; }
h3 {padding: 6px 0; font-size: 15px; }
strong { font-weight: bold; }
img { vertical-align: middle; }
a { text-decoration: none; }
.squeeze { width: 1440px; margin: 0 auto; position: relative; }
.super-squeeze { width: 960px; margin: 0 auto; position: relative; }
.clear { clear: both; }
#wrapper { position: relative; z-index: 2; }
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
.hcenter {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.vcenter {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.vhcenter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.full_width_blocks(@count) {
  display: table;
  width: 100%;
  > div, > li {
    display: table-cell;
    width: unit(100 / @count, %);
  }
}

.full_width_image_blocks(@count) {
  .full_width_blocks(@count);
  img {
    width: 100%;
  }
}

.ck_logo(@bgimage: "../public/assets/img/logo.png") {
  @bgimage_height: image-height(@bgimage);
  @bgimage_width: image-width(@bgimage);
  position: absolute;
  top: 0;
  left: 50%;
  width: @bgimage_width;
  height: @bgimage_height;
  margin-left: -(@bgimage_width) / 2;
  z-index: 200;
}
.ck_agence(@image_agence: "../public/assets/img/agence.svg") {
  clear: both;
  float: left;
  margin-top: 15px;
  margin-left: 20px;
  width: 127px;
}
.ck_liens(@color) {
  padding: 10px 20px 15px 40%;
  text-align: right;
  font: 10px/12px Verdana, sans;
  color: @color;
  letter-spacing: -1px;
  a {
    color: @color;
    text-decoration: none;
  }
}

/* Menu */
@menu_breakpoint: 1024px;
#primary {
  position: absolute !important; z-index: 9999 !important;
  width: 100%;
  .flexnav {
    > li {
      width: auto;
    }
    @media screen and (min-width: @menu_breakpoint) {
      .touch-button {
        display: none;
      }
    }
  }
}
.is-sticky {
  #primary {
    position: fixed !important;
  }
}
.menu-button {
  z-index: 9999;
  height: 50px;
}