@import "reset.less";
@import "fonts.less";
@import "common.less";

@blanc: #fff;
@noir: #000;
@activites: #41464b;
@primary: #282d30;
@prefooter: #c90000;
@footer: #b20303;

body { font: 15px "GothamBook", sans-serif; color: @noir; background: @blanc; }
a { color: @noir; }

/* Header */
#header {
  position: relative;
  height: 600px;
  max-height: 60vh;
  overflow: hidden;
  #logo {
    position: relative;
    z-index: 200;
    img {
      max-width: 66%;
    }
  }
}
#slider_header {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  img {
    width: 100%;
  }
}
#home #header {
  max-height: 80vh;
}
#activites {
  background: @activites;
  ul {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
  }
  a {
    color: @blanc;
    font: 17px 'GothamBold';
  }
}
#primary-sticky-wrapper {
}
#primary {
  background: @primary;
  .flexnav {
    width: 650px;
    > li {
      background: transparent;
      > a {
        color: #f00;
        font-size: 16px;
        background: transparent;
        border: 0;
      }
      .touch-button {
        background: transparent;
        width: 100%;
        .navicon {
          float: right;
          margin: 0 20px;
        }
      }
    }
  }
  svg {
    path {
      fill: #f00;
    }
  }
}
.is-sticky {
  #primary {
    background: @noir;
  }
}
.menu-button {
  background: @noir;
  color: @blanc;
}
#savoir_faire {
  display: none;
}

/* Layout */
#main {
  display: flex;
}

/* Home */
#slider_main {
  position: relative;
  overflow: hidden;
}
#slider_main_overlay {
  position: absolute;
  bottom: -20px;
  left: -30px;
  z-index: 200;
  width: 300px;
  height: 96px;
  padding: 38px 0 0 60px;
  color: @blanc;
  text-transform: uppercase;
  background: url(../img/slider/main/overlay.png) no-repeat 0 100%;
}
#intro {
  background: url(../img/bg/intro.jpg) no-repeat 0 0;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 0 7%;
  color: @blanc;
  p {
    margin: 1em 0;
  }
}

/* Contenu */
#texte {
  margin: 1em 3%;
  p {
    text-align: justify;
    margin: 1em 0;
  }
}

/* Footer */
#prefooter {
  font-size: 16px;
  padding: 50px 0;
  background: @prefooter;
  color: @blanc;
  svg {
    display: block;
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    path {
      fill: @blanc;
    }
  }
  span {
    display: inline-block;
    vertical-align: middle;
  }
  #tel {
    font-size: 20px;
  }
  #coordonnees {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
#footer {
  background: @footer;
  #agence {
    .ck_agence;
    svg {
      display: block;
      path {
        fill: @prefooter;
      }
    }
  }
  #liens {
    .ck_liens(@prefooter);
  }
}

@media screen and (max-width: 1023px) {
  #activites {
    display: none;
  }
  #savoir_faire {
    display: block;
  }
  #primary {
    .flexnav {
      width: auto;
    }
  }
  #coordonnees {
    align-items: center;
    text-align: center;
    div {
      margin: 5px 20px;
    }
    svg {
      display: block;
      margin: 0 auto;
    }
  }
  #main {
    flex-wrap: wrap;
  }
  #slider_main {
    width: 100%;
    img {
      width: 100%;
    }
  }
}

@media screen and (max-width: 640px) {
  #header {
    max-height: 100vh;
    #logo img {
      max-width: 100%;
      width: 100%;
    }
  }
  #home #header {
    max-height: 100vh;
  }
  #slider_header {
    width: 200%;
  }
}
